#python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env/
.venv/

#IDE
.vscode
.idea
*.swp
*.swo

#log
app/logs/*.log*
app/logs/*.log.*
logs/
*.log
*.sql
*.sqlite

#model file & big data
*.pth
*.bin
*.h5
*.pt
app/docs/*.txt
app/docs/*.pdf
app/docs/*.json
local_m3e_model/
app/chunks_mapping.npy
app/chat_history.db

#some config
*.key
*.pem
.env
*.copy

#temp file
*.temp
*.tmp

#os file
.DS_Store
Thumbs.db
