#Python缓存和编译文件
__pycache__
*.pyc
*.pyo
*.pyd
.python
.coverage

*.log

.cache
.npm
.yarn

.git
.gitignore
.gitattributes

.vscode
.idea/
*.swp
*.swo

README.md
CHANGELOG.md
LICENSE

Dockerfile
.dockerignore

dist/
build/
*.egg-info/
*.tmp
.DS_Store
